


$color-main: #ffc107;
$bet-width: 800px;

@import "_segmented_control";
// Vendors and external stylesheets


.header_top {background: $color-main; height: 60px; padding: 10px 50px; display: flex; align-items: center;
  img {
    height: auto;
    max-width: 100%;
    &.logo {
      width: 50px;
      object-fit: contain;
    }
  }
  strong {
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
  }
}

.match-container {
  .match {
    margin-top: 30px;
    margin-bottom: 30px;

    .end-in {
      font-size: 19px;
      margin-right: 15px;
    }
    .count-down {
      font-size: 90px;
    }

    .input-bet-container {
      width: $bet-width;
    }
  }
}

.match-list {
  overflow-y: scroll;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  .match {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;

    * {
      cursor: default;
    }

    &.selected {
      background: #ffe9a4;
    }
  }
}